# App
.htaccess
node_modules
/node_modules

# Compiled Assets
/assets/js/vendor.js
/assets/js/vendor.min.js
/assets/js/custom.js
/assets/js/custom.min.js
/assets/css/style.css
/assets/css/style.min.css
/assets/css/style.css.map

# Local Development Stuff
*.sublime-project
*.sublime-workspace
*.swp
*.code-workspace
.vscode
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
